.products-area{
    flex: 1 0 80%;
}

/* featured sections */

.featured-sections{
    color: gray;
}
.section-select{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 10px;
}
.section-option,.section-option-active{
    display: flex;
    flex-direction: row;
    flex: 1 0 25%;
    color: gray;
    transition: .3s color ease-in-out;
    -webkit-transition: .3s color ease-in-out;
    -moz-transition: .3s color ease-in-out;
    -ms-transition: .3s color ease-in-out;
    -o-transition: .3s color ease-in-out;
}
.section-option-active{
    color: black;
}
.section-img{
    width: 25px;
}
.section-title{
    
}

/* products */

.products-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product{
    flex: 1 0 25%;
    padding: 5px;
    max-width: 25%;
}
.product-image{
    
}
.product-title{
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

