.menu-container{
    height: 100%;
    z-index: 100;
    top: 0;
}

.menu{
    z-index: 100;
    flex: 0 0 15%;
    height: 50vh;
    max-height: 250px;
}

.menu-icon{
    position: absolute;
    /* top: 5%; */
    /* right: 0; */
    z-index: 100;
    cursor: pointer;
    transition: .3s all ease-in-out;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    -ms-transition: .3s all ease-in-out;
    -o-transition: .3s all ease-in-out;
}
.icon-menu-in{
    transform: rotateZ(180deg);
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
}
.icon-menu-out{
    transform: rotateZ(0);
    -webkit-transform: rotateZ(0);
    -moz-transform: rotateZ(0);
    -ms-transform: rotateZ(0);
    -o-transform: rotateZ(0);
}
.menu-icon-img{
    width: 25px;
    height: 25px;
    z-index: 100;
}
.menu-content{
    margin-left: 30px;
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 5px;
}
.menu-item,.menu-item-active{
    transition: .1s all ease-in-out;
    -webkit-transition: .1s all ease-in-out;
    -moz-transition: .1s all ease-in-out;
    -ms-transition: .1s all ease-in-out;
    -o-transition: .1s all ease-in-out;
    color: gray;
}
.menu-item-active{
    color: black;
}

@media screen and (max-width: 500px){
    .menu{
        /* margin-top: 20px; */
    }
}
@media screen and (max-width: 700px){
    .menu-container{
        font-size: x-large;
    }
    .menu-content{
        margin-left: 60px;
        width: 35vw;    
    }
}
@media screen and (min-width: 700px){
    .menu-container{
        font-size: x-large;
    }
}