#search-container{
    position: relative;
}
.search-input{
    height: 30px;
    font-weight: 600;
    font-size: small;
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 1px 1.25px 5px -2px rgba(0,0,0,.3);
    color: rgba(0,0,0,.4);
}
.search-icon{
    position: absolute;
    z-index: 10;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    cursor: pointer;
}